extends layout

block content
  h1 #{title}

  -data = data || {}

  if errors
    ul.task-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="task-addition")
  label(for="taskName") Task name:
  input(
    type="text"
    id="taskName"
    name="taskName"
    class="form-control"
    value=data.taskName
  )

  label(for="taskDateDue") Task date due:
  input(
    type="text"
    id="taskDateDue"
    name="taskDateDue"
    class="form-control"
    value=data.taskDateDue
  )

  label(for="taskContent") Task description:
    input(
      type="text"
      id="taskContent"
      name="taskContent"
      class="form-control"
      value=data.taskContent
    )

  input(
    type="submit"
    value="Submit"
    class="btn btn-lg btn-primary btn-block"
    )
