extends layout

block content
  h1 #{title}

  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  form(action="." method="POST")
  label(for="taskName") Task name:
  input(
    type="text"
    id="taskName"
    name="taskName"
    value=data.taskName
  )

  input(type="submit" value="Submit")
