extends layout

block content
  h1 #{title}

  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  form(action="." method="POST")
  label(for="taskName") Task name:
  input(
    type="text"
    id="taskName"
    name="taskName"
    value=data.taskName
  )

  label(for="taskDateDue") Task date due:
  input(
    type="text"
    id="taskDateDue"
    name="taskDateDue"
    value=data.taskDateDue
  )

  label(for="taskContent") Task description:
    input(
      type="text"
      id="taskContent"
      name="taskContent"
      value=data.taskContent
    )

  input(type="submit" value="Submit")
