extends layout 

block content 
    h1 #{title}
    form( method='POST', action='/tasks/edit/'+task._id)
        #form-group
            label Task Name:
            input.form-control(name='taskName', type='text', value=task.taskName)
        #form-group
            label Priority:
            input.form-control(name='priority', type='text', value=task.priority)
        #form-group
            label Content:
            textarea.form-control(name='content' )= task.content
        #form-group
            label Due Date:
            input.form-control(name='duedate', type='text', value=task.duedate)
        br
        input.btn.btn-primary(type='submit', value='Submit')
